<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @request.name %>様、スマホ買取へようこそ。</h1>
      <p>
      無料宅配キット配送承りました。<br>
      一両日中にご登録の住所にキットの配送をいたします。<br>
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>
